/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-2);

    width: 100%;
    padding: 1em;
    font-size: var(--font-size-small);

    color: var(--font-color-2);
    background-color: var(--footer-color);
}