/* HEADER */
header {
    display: flex;
    align-items: center;
    text-align: center;
    position: fixed;
    font-family: var(--font-family-1);
    user-select: none;
    z-index: 1;

    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 4vw;
    
    background: var(--font-color) url(../assets/header-background.jpg) no-repeat center top;
    background-size: cover;
    box-shadow: 0 1px 2px var(--box-shadow-color);
}
header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* TITULO */
header h1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: var(--font-size-large);
    transition: all 0.6s ease-in-out;
}
header h1 a {
    text-decoration: none;
    color: #00000000;
    -webkit-text-stroke: 1px var(--font-color);
}
header h1:hover {
    cursor: pointer;
}

/* ITEM DE NAVEGAÇÂO */
header .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-2);
}
header .nav a {
    display: flex;
    transition: all 0.4s;
    text-decoration: none;
    font-size: var(--font-size-medium);

    padding: 0.8rem;

    color: var(--font-color);
}
header .nav a:hover {
    scale: 1.1;
    color: var(--secondary-color);
    text-shadow: 0 0 4px currentColor;
}
header .nav a:active {
    scale: 0.9;
    color: var(--primary-color);
}

/* MENU MOBILE */
header .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: var(--font-size-large);
    font-weight: bold;
    transition: all 0.4s;

    color: var(--font-color);
}
header .menu-toggle:hover {
    scale: 1.1;
    color: var(--secondary-color);
    text-shadow: 0 0 4px currentColor;
}
header .menu-toggle:active {
    scale: 0.9;
    color: var(--primary-color);
}