/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* CONTEUDO */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-family-1);

    padding: calc(var(--header-height) + 1em) 2em 2em 2em;
    width: 100%;
    min-height: 100vh;
    gap: 1em;
}
.content section {
    display: flex;

    width: 100%;
}

/* ARTIGOS */
.content article {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-3);

    width: 100%;
    max-width: var(--article-max-width);
    padding: 0.6em 1em;
    border-radius: 8px;

    background-color: var(--background-color-2);
    border: 2px solid var(--shadows-color);
}
/* TITULO DE ARTIGO */
.content article h2 {
    font-size: var(--font-size-medium);
}
/* PARAGRAFO DE ARTIGO */
.content article p {
    text-indent: 1.0rem;
    font-size: var(--font-size-small);
    
    color: var(--font-color-2);
}
/* NEGRITO EM ARTIGO */
.content article p b {
    color: var(--primary-color);
}
/* LINK EM ARTIGO */
.content article a {
    text-decoration: none;
    transition: all 0.4s;

    color: var(--secondary-color);
}
.content article a:hover {
    scale: 1.1;
    text-shadow: 0 0 4px currentColor;
}